.rating-card {
  min-width: 550px;
  height: 150px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightslategray;
  animation: showBlock 1s linear forwards;
  transition: 0.7s ease;
}

/* модификатор */
.rating-card_reduce {
  height: 85px;
}

.rating-card:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rating-card__number {
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(175, 175, 175);
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 31px;
  text-align: center;
  /* padding-top: 6px; */
  margin-left: 40px;
}

.rating-card__container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: 0.7s ease;
  /* border: 1px solid grey; */
}

.rating-card__container-center_reduce {
  margin-top: 0px;
}

.rating-card__name {
  /* font-family: none; */
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #333;
  width: 175px;
  transition: 0.7s ease;
  margin: 5px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.rating-card__name_reduce {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.rating-card__date {
  /* font-family: none; */
  font-size: 18px;
  font-weight: 400;
  color: #333;
  transition: 0.7s ease;
  margin: 5px;
}

.rating-card__date_reduce {
  font-size: 15px;
  margin: 0px;
}

.rating-card__image {
  width: 180px;
  height: 120px;
  margin-right: 10px;
  object-fit: cover;
  transition: 0.7s ease;
  border: 1px solid grey;
}

.rating-card__image_reduce {
  width: 100px;
  height: 60px;
  transition: 0.7s ease;
}

.rating-card__container-buttons {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s ease;
}

.rating-card__container-buttons_reduce {
  /* flex-direction: row; */
  /* min-width: 120px; */
  /* justify-content: space-evenly; */
  height: 80%;
}

.rating-card__button-up {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../../images/arrow-up.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-right: 10px;
  border: none;
  opacity: 0.5;
  transition: 0.7s ease;
}

.rating-card__button-up:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rating-card__button-up:focus {
  outline: none;
}

.rating-card__button-up_disabled {
  opacity: 0.2;
}

.rating-card__button-up_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.rating-card__button-down {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../../images/arrow-up.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-right: 10px;
  border: none;
  opacity: 0.5;
  transform: rotate(180deg);
  transition: 0.7s ease;
}

.rating-card__button-down:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rating-card__button-down:focus {
  outline: none;
}

.rating-card__button-down_disabled {
  opacity: 0.2;
}

.rating-card__button-down_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

.rating-card__button-delete {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../images/button-delete.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-right: 10px;
  border: none;
  opacity: 0.4;
  transition: 0.7s ease;
}

.rating-card__button-delete:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rating-card__button-delete:focus {
  outline: none;
}

.rating-card_buttons_reduce {
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin-right: 5px;
}

.rating-card_buttons-delete_reduce {
  width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .rating-card {
    width: 300px;
    height: 100px;
    margin: 15px auto 0;
  }
  .rating-card__number {
    font-size: 14px;
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  .rating-card__name {
    font-size: 16px;
    width: 60px;
  }
  .rating-card__image {
    width: 90px;
    height: 60px;
    margin-right: 5px;
  }
  .rating-card__button-up {
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 5px;
  }
  .rating-card__button-down {
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 5px;
  }
  .rating-card__button-delete {
    width: 10px;
    height: 10px;
    background-size: 10px;
    margin-right: 5px;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
