.info-block {
  /* width: 350px;
    min-height: 100%; */
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-area: InfoBlock;
}

.info-block__account {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 15px 20px 25px; */
  border-bottom: 1px solid black;
}

.info-block__button-setting {
  margin: 2px 0 8px;
  /* padding: 10px; */
  width: 100px;
  height: 25px;
  background-color: rgb(50, 50, 50);
  border: none;
  /* border-top: 1px solid #aaa; */
  color: #ddd;
  font-size: 14px;
  font-weight: 400;
}

.info-block__button-setting:hover {
  cursor: pointer;
  /* background-color: goldenrod; */
  color: #fff;
}

.info-block__button-out {
  /* margin: 10px 0 0; */
  padding: 10px;
  width: 100px;
  height: 25px;
  background-color: rgb(50, 50, 50);
  border: none;
  border-top: 1px solid #aaa;
  color: #ddd;
  font-size: 14px;
  font-weight: 400;
}

.info-block__button-out:hover {
  cursor: pointer;
  /* background-color: goldenrod; */
  color: #fff;
}

.info-block__container {
  position: fixed;
}

.info-block__banner {
  width: 170px;
  /* height: 400px; */
  margin: 30px 10px 30px;
  border: 2px solid black;
}
