.films-page {
  width: 100%;
  min-height: 100%;
  background-color: #ddd;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  position: relative;
}

.films-page__container {
  margin: 100px 0 0 30px;
}

.films-page__image {
  width: 350px;
  height: 500px;
  border: 2px solid goldenrod;
  margin: 100px 0 0 80px;
  object-fit: cover;
}

.films-page__list {
  /* width: 360px; */
  list-style: none;
}

.films-page__about {
  display: flex;
  text-align: start;
  margin: 30px 0 0;
}

.films-page__name {
  margin: 0 0 10px 30px;
  font-size: 42px;
  font-weight: 600;
  color: #000;
  text-align: left;
}

.films-page__text-container {
  display: flex;
  flex-direction: column;
}

.films-page__text {
  font-weight: 400;
  color: #555;
  font-size: 20px;
  min-width: 150px;
  margin: 0;
}

.films-page__text-data {
  margin: 2px 0;
  font-weight: 500;
  color: #333;
  font-size: 20px;
  max-width: 220px;
}

.films-page__text-data_link-user {
  color: #333;
  /* text-decoration: none; */
  cursor: pointer;
}

.films-page__text-data_link-user:hover {
  color: goldenrod;
}

.films-page__button-go-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 50px;
  background-color: #ddd;
  border: 1px solid #444;
  font-weight: 600;
}

.films-page__button-go-back:hover {
  cursor: pointer;
  background-color: goldenrod;
}
