.films-item {
  width: 250px;
  height: 400px;
  margin: 30px 30px 30px 30px;
  border: 2px solid goldenrod;
  box-shadow: 3px 3px 5px 4px rgb(197, 197, 197);
  position: relative;
  animation: showBlock 1s linear forwards;
  transition: 0.7s ease;
}

.films-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.films-item_not-checked {
  border: 1px solid rgb(218, 60, 32);
}

.films-item__image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  text-decoration: none;
}

.films-item__container {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.films-item__name {
  margin: 4px 10px;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  line-height: 28px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.films-item__date {
  font-weight: 400;
  font-size: 18px;
  color: #333;
  margin: 0;
}

.films-item__button-remove {
  position: absolute;
  top: 14px;
  right: 14px;

  background-image: url(../../images/icon-remove.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  /* border-radius: 50%; */
  opacity: 0.7;
}

.films-item__button-remove:hover {
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 1;
  width: 30px;
  height: 30px;
  background-size: 26px;
}

.films-item__button-remove:focus {
  outline: none;
}

.films-item__button-edit {
  position: absolute;
  top: 14px;
  right: 45px;

  background-image: url(../../images/pen.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  /* border-radius: 50%; */
  opacity: 0.6;
}

.films-item__button-edit:hover {
  top: 10px;
  right: 41px;
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  background-size: 16px;
}

.films-item__button-edit:focus {
  outline: none;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
