.admin-films {
  width: 100%;
  min-height: 100%;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-films__title {
  font-size: 38px;
  font-weight: 800;
  color: rgba(143, 123, 8, 0.911);
  margin: 25px auto 40px;
}

.admin-films__button-add {
  width: 500px;
  min-height: 70px;
  margin: 10px;

  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.admin-films__button-add:hover {
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #000;
  border: 2px solid #000;
}

.admin-films__cards-check {
  width: 500px;
  min-height: 60%;
  margin: 30px auto;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 30px;
}

.admin-films__card-button {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #000;
}

.admin-films__card-button:hover {
  cursor: pointer;
  border: 2px solid #000;
  /* background-color: rgba(0, 0, 0, 0.7);
  color: #eee; */
}

.admin__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid rgba(50, 50, 50, 0.2); */
}

.admin__subtitle {
  text-align: left;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.admin__input {
  margin: 10px 0 0 50px;
  width: 300px;
  height: 25px;
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.admin__button {
  margin: 30px 0 0 50px;
  width: 150px;
  height: 35px;
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.admin__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
}

.admin__text {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 0 30px;
  color: rgba(0, 0, 0, 0.7);
}

.admin__label {
  /* border: 1px solid #aaa; */
  display: flex;
  align-items: flex-end;
  text-align: left;
}
