.App {
  text-align: center;
  color: gray;
  margin: 0;

  width: 100%;
  min-height: 1050px;

  display: grid;
  grid-template-columns: 210px auto auto 250px;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
    'NavBar Header Header InfoBlock'
    'NavBar Main Main InfoBlock'
    'NavBar Footer Footer InfoBlock';
}

@media screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 210px auto;
    grid-template-rows: 140px auto auto 100px;
    grid-template-areas:
      'Header Header'
      'NavBar Main'
      'InfoBlock Main'
      'Footer Footer';
  }
}
@media screen and (max-width: 500px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 140px auto 100px;
    grid-template-areas:
      'Header'
      'Main'
      'Footer';
  }
}
