.App {
  text-align: center;
  color: gray;
  margin: 0;

  width: 100%;
  min-height: 1050px;

  display: grid;
  grid-template-columns: 200px auto auto 250px;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
  "NavBar Header Header InfoBlock"
    "NavBar Main Main InfoBlock"
  "NavBar Footer Footer InfoBlock";
}

@media screen and (max-width: 900px) {
  .App {
    grid-template-columns: 150px auto;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas:
    "Header Header"
    "NavBar Main"
    "InfoBlock Main"
    "Footer Footer";

  }
}







