.premieres-item-page {
  width: 100%;
  min-height: 100%;
  background-color: #ddd;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  position: relative;
}

.premieres-item-page__container {
  margin: 100px 0 0 30px;
}

.premieres-item-page__image {
  width: 350px;
  height: 500px;
  border: 2px solid goldenrod;
  margin: 100px 0 0 80px;
  object-fit: cover;
}

.premieres-item-page__list {
  /* width: 360px; */
  list-style: none;
}

.premieres-item-page__about {
  display: flex;
  text-align: start;
  margin: 30px 0 0;
}

.premieres-item-page__name {
  margin: 0 0 10px 30px;
  font-size: 42px;
  font-weight: 600;
  color: #000;
  text-align: left;
}

.premieres-item-page__text {
  font-weight: 400;
  color: #555;
  font-size: 20px;
  min-width: 150px;
  margin: 0;
}

.premieres-item-page__text-data {
  margin: 0;
  font-weight: 500;
  color: #333;
  font-size: 20px;
  max-width: 220px;
}

.premieres-item-page__button-go-back {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 80px;
  height: 30px;
  background-color: #ddd;
  border: 2px solid goldenrod;
  font-weight: 600;
}

.premieres-item-page__button-go-back:hover {
  cursor: pointer;
  background-color: goldenrod;
}
