.header {
  background-color: #000;
  grid-area: Header;
  font-family: 'Montserrat';
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.header__title {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 0.75;
  margin: 10px 0;
}

@media screen and (max-width: 1200px) {
  .header__title {
    font-size: 60px;
    line-height: 0.9;
  }
}
@media screen and (max-width: 500px) {
  .header__title {
    margin: 10px;
  }
}

/* https://i.gifer.com/75yc.gif   огонь*/
