.menu {
  grid-area: NavBar;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
}

.menu__container {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* padding: 10px 0 0 10px; */
  position: fixed;
}

.menu__link {
  margin: 22px 10px 20px 35px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #ddd;
  position: relative;
}

.menu__link_active {
  color: rgba(238, 207, 31, 0.932);
}

.menu__link_notification {
  height: 6px;
  background-color: rgba(233, 47, 47, 0.7);
  border-radius: 50%;
  padding: 1px 1px;
  position: absolute;
  top: 15px;
  right: 30px;
}

.menu__link_followings {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(221, 221, 221, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(221, 221, 221, 0.5);
  padding: 1px 8px 3px;
}
