.menu {
    grid-area: NavBar;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
     
}

.menu__container {  
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 0 0 10px;
    position: fixed; 
}

.menu__account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px 25px;
}

.menu__account-input {
    margin: 5px;
    width: 100px;
    background-color:#ddd;
    border: 1px solid goldenrod;
}

.menu__account-button {
    margin: 5px;
    width: 106px;
    height: 25px;
    background-color:rgb(50, 50, 50);
    border: 1px solid goldenrod;
    color: goldenrod;
}

.menu__account-button:hover {
    cursor: pointer;
    background-color: goldenrod;
    color: rgb(50, 50, 50);
}

.menu__link {
    margin: 20px 10px 20px 30px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #ddd;
}

.menu__link_active {
    color: rgba(238, 207, 31, 0.932);
}