.following-item {
  width: 150px;
  height: 200px;
  margin: 30px 25px;
  border: 1px solid goldenrod;
  box-shadow: 2px 2px 4px 3px rgb(197, 197, 197);
  position: relative;
  animation: showBlock 1s linear forwards;
  transition: 0.7s ease;
}

.following-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.following-item__image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  text-decoration: none;
}

.following-item__container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.following-item_avatar {
  width: 95px;
  height: 90px;
  margin: 10px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #aaa;
}

.following-item__name {
  margin: 4px 10px;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 28px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.following-item__text {
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin: 0;
}

.following-item__button-remove {
  position: absolute;
  top: 14px;
  right: 14px;

  background-image: url(../../images/icon-remove.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  /* border-radius: 50%; */
  opacity: 0.7;
}

.following-item__button-remove:hover {
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 1;
  width: 30px;
  height: 30px;
  background-size: 26px;
}

.following-item__button-remove:focus {
  outline: none;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
