.account-login {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 15px 20px 25px; */
  border-bottom: 1px solid black;
}

.account-login_avatar {
  width: 100px;
  height: 60px;
  margin: 12px 0 0;
  object-fit: cover;
  object-position: center;
  border: 1px solid #aaa;
}

.account-login_input {
  margin: 5px;
  width: 100px;
  background-color: #ddd;
  border: 1px solid goldenrod;
}

.account-login_button-enter {
  margin: 5px;
  /* width: 106px;
  height: 25px; */
  width: 100px;
  height: 50px;
  background-color: rgb(50, 50, 50);
  border: 1px solid goldenrod;
  color: goldenrod;
}

.account-login_button-enter:hover {
  cursor: pointer;
  background-color: goldenrod;
  color: rgb(50, 50, 50);
}

.account-login_button-out {
  margin: 10px 0 0;
  width: 100px;
  height: 25px;
  background-color: rgb(50, 50, 50);
  border: none;
  border-top: 1px solid #aaa;
  color: #ddd;
}

.account-login_button-out:hover {
  cursor: pointer;
  /* background-color: goldenrod; */
  color: #fff;
  /* border: 1px solid #aaa; */
}

.account-login_user-name {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 5px;
  text-align: center;
}
